@font-face {
    font-family: "Raleway";
    src: url(/Ressources/fonts/Raleway-VariableFont_wght.ttf);
}

/* --------------------------------------- Règles générales ---------------------------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative; /* Pour le positionnement du logo sur les très grande résolutions */
    font-family: "Raleway";
    max-width: 1980px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
}


/* Règles pour les titres */

h2, h3 {
    font-weight: 600;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

/* ------------------------------------------ Header ------------------------------------------ */
nav {
    padding-top: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

nav img {
    padding-left: 20px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav ul li {
    text-align: center;
    width: 50%;
    padding: 15px 30px;
}

nav ul li:hover > a {
    color: #0065FC;
}

.subscribe {
    text-align: right;
}

.subscribe a {
    color: #0065FC;
    font-weight: 600;
}

.accommodationsLink, .activitiesLink {
    border-bottom: 3px solid #f2f2f2;
}

.accommodationsLink:hover, .activitiesLink:hover {
    border-bottom: 3px solid #0065FC;
}


@media all and (min-width: 750px) {

    nav {
        margin-bottom: 0;
        justify-content: flex-end;
        border-bottom: none;
        padding-top: 0;
    }

    nav img {
        position: absolute; /* Fixation du logo */
        left: 50px;
        top: 15px;
    }

    nav ul li {
        width: auto;
        padding: 30px;
        border-top: 3px solid transparent;
    }

    nav li:hover {
        border-top: 3px solid #0065FC;
    }    

    .subscribe {
        order: 3;
    }

    .accommodationsLink, .activitiesLink {
        border-bottom: none;
    }
    
    .accommodationsLink:hover, .activitiesLink:hover {
        border-bottom: none;
    }
    
}

/*--------------------------------------- Section recherche ---------------------------------------*/

.searchSection {
    padding-left: 20px;
    padding-right: 20px;
}

.searchSection p {
    margin-top: 10px;
}

/* Barre de recherche */
.searchBar {
    max-width: 400px;
    height: 50px;
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
}

.iconDiv {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.searchInput {
    width: calc(100% - 100px); /* 100% moins taille des deux éléments qui l'entourent */
    padding: 1em;
    border: 2px solid #f2f2f2;
    font-size: 16px;
    font-weight: 600;
}

.searchButton {
    width: 50px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065FC;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.searchButton span {
    display: none; /* On enlève l'affichage du mot "rechercher" pour les petites dimensions */
}

@media all and (min-width: 750px) {

    .searchInput {
        width: calc(100% - 182px);
        padding: 1em;
        border: 2px solid #f2f2f2;
        font-size: 16px;
        font-weight: 600;
    }
    
    .searchButton {
        width: 132px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .searchButton .icon {
        display: none; /* On enlève l'affichage de l'icone loupe */
    }

    .searchButton span {
        display: inherit; /* On retire le display: none du mot "Rechercher" */
    }
}

/* Section Filtres */
.filterSection {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-weight: 600;
}

.filterSection__title {
    font-size: 16px;
    width: 100%;
}

/* Filtres */
.filter {
    height: 50px;
    display: flex;
    align-items: center;
    border: 3px solid #f2f2f2;
    border-radius: 25px;
    cursor: pointer;
}

.filter:hover {
    background-color: #deebff;
    border-color: #deebff;
    color: #0065FC;
}

.filter__icon {
    position: relative;
    right: 3px; /* Je décale le cercle pour qu'il se superpose à la bordure de la div*/
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #deebff;
    color: #0065FC;
}

.filter__name {
    padding: 0 15px 0 5px;
}

/* Filtres info */
.filterSection__info {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.infoIcon {
    position: relative;
    bottom: 5px;
    height: 27px;
    width: 27px;
    margin-right: 1em;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #f2f2f2;
    border-radius: 50%;
    font-size: 0.8em;
    color: #0065FC;
}

@media all and (min-width: 750px) {

    .searchSection {
        margin-left: 50px;
        margin-right: 50px;
    }
}

/*--------------------------------------- Section Principale ---------------------------------------*/

.resultsContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Règles partagées entre les sections */
.mostPopularSection, .accommodationsSection, .activitiesSection {
    padding: 30px 20px;
}

.heading {
    margin-bottom: 25px;
}

.cardsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

/* Règles spécifiques à la section "Les plus populaires" */
.mostPopularSection {
    background-color: #f2f2f2;
}

.mostPopularSection .heading {
    display: flex;
    justify-content: space-between;
}

.mostPopularSection .heading .icon {
    position: relative; /* Correction de l'alignement de l'îcone avec le titre */
    top: 3px;
}

/* Règles spécifiques à la section "Activités" */

.column2, .column4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Media Queries */

@media all and (min-width: 750px) {
    .resultsContainer {
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 50px;
        margin-right: 50px;
    }

    .mostPopularSection {
        border-radius: 20px;
        order: 2;
        flex: 1;
    }

    .accommodationsSection {
        border-radius: 20px;
        flex: 1;
        background-color: #f2f2f2;
    }

    .activitiesSection {
        order: 3;
        padding-left: 0;
        padding-right: 0;
    }

    .activitiesSection .cardsWrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 25px;
    }

    .activitiesSection .card {
        max-width: 300px;
    }
}

@media all and (min-width: 1200px) {
    .mostPopularSection {
        flex: 1.5;
    }

    .accommodationsSection {
        flex: 3;
    }
}
/* ----------------------------------------- Cartes ------------------------------------------------*/

.card {
    display: flex;
    padding: 5px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.200);
}

.card__thumb {
    flex: 1.5;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
}

.card__thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__label {
    padding: 15px 15px 15px 20px;
    display: flex;
    flex: 2;
    flex-direction: column;
}

.stars {
    color: #0065FC;
    letter-spacing: -1px;
}

.emptyStar {
    color: #d9d9d9;
}

.card:hover {
    border-radius: 15px;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.400);
}

.card:hover h3 {
    color: #0065FC;
}

/* Cartes section les plus populaires */
.mostPopularSection .card {
    height: 145px;
}

.mostPopularSection .card__label {
    justify-content: space-between;
}

.mostPopularSection .card__label h3 {
    margin-bottom: 5px;
}

/* Cartes section hébergement */
.accommodationsSection .card {
    height: 220px;
    display: flex;
    flex-direction: column;
}

.accommodationsSection .card__thumb {
    flex: 2;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
}

.accommodationsSection .card__label {
    flex: 1;
    padding: 5px 10px;
    justify-content: space-evenly;
}

@media all and (min-width: 750px) {

    .accommodationsSection .card {
        max-width: 300px;
    }
}

/* Cartes section Activités */

.activitiesSection .card {
    height: 230px;
    flex-direction: column;
    padding: 0;
    overflow: hidden;
}

.activitiesSection .card__thumb {
    height: calc(100% - 50px);
    flex: inherit;
    border-bottom-left-radius: 0;;
}

.activitiesSection .card__label {
    height: 50px;
    flex: inherit;
}

@media all and (min-width: 750px) {
    .column1 .card, .column3 .card {
        height: 100%;
}


/*---------------------------------------------- Footer ----------------------------------------------*/

footer {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    gap: 40px;
    padding: 50px;
}

footer div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer ul li a:hover {
    color: #0065FC;
}

@media all and (min-width: 750px) {

    footer {
        flex-direction: row;
        justify-content: space-around;
    }
}











